@import url(var.css);

html,body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    text-align: center;
    background-color: var(--primary);
    color: var(--font-color);
    font-family: 'Karla', sans-serif;
  }
  .intro{
    height: 97vh;
    background-image: url('https://images.unsplash.com/photo-1635113971261-db48e3b835b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
  .title{
    font-size: var(--h1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:  3rem 25rem 3rem 25rem;
    background-color: var(--pr-reduc-opac) ;
  }
  #header{
    font-size: var(--h2);
    margin-top: 3rem;
  }
  .main-form{
    padding: 2px;
    text-align: center;    
    margin: 3rem 15%;
    font-size: var(--h2);
    display: flex;
    border: 1px solid var(--accent2);
    border-radius: 10rem
  }

  #input-space[type="search"]{
    text-align: left;
    width: 100%;
    padding: 1rem 1rem;
    font-size: var(--search);
    background: transparent;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  #input-space::placeholder{
    color: #bbb;
  }
  .submit-button{
    width: 4rem;
    height: 3rem;
    border-radius: inherit;
    border: none;
    cursor: pointer;
    opacity: 0.7;
  }
  i{
    color: var(--accent2);
  }
  .submit-button:hover {
    opacity: 1;
  }
  .submit-button:focus,
  #input-space:focus {
    box-shadow: 0 0 3px 0 var(--accent3);
    border-color: var(--accent3);
    outline: none;
  }
  .other{
    text-align: left;
  }
  #themeBtn{
    font-size: var(--search);
    background-color: var(--accent1);
    color: var(--accent3);
    padding: 1rem;
    margin-left: 20%;
    border-top: 2px solid transparent;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 3rem;
  }
  #app{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .element-card{
    margin-top: 2rem;
    font-size: var(--h2);
    margin: 4rem;
    padding: 3rem 9rem;
    background-color: var(--secondary);
    width: 24%;
    border-radius: 2rem;
    font-weight: 600;
  }
  h3{
    font-size: var(--h2)
  }
  .character-name{
    background-color: var(--secondary);
    color: var(--accent3);
    margin: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;

  }
  .charInfo{
    background-color: var(--secondary);
    font-size: var(--p);
    text-align: left;
    font-weight: 500;
    color: var(--accent3);
  }
  .infoSpan{
    font-weight: 900;
    background-color: inherit;
    color: inherit;
    font-size: var(--search);
  }
  p{
    font-size: var(--search);
    background-color: inherit;
    text-align: inherit;
    color: inherit;
    margin-bottom: 1rem;
  }
  .card-img{
    border-radius: 2rem;
    max-height: 40rem;
    background-color: inherit;
  }
  .noChar{
    font-size: var(--h2);
    margin: 5rem;
  }
  @media screen and (max-width:1200px){
    .element-card{
      margin: 2rem;
      width: 25%;
      padding: 2rem 3rem;
    }
    .card-img{
      width: 15rem;
      height: 30rem;
    }
  }
  @media screen and (max-width:992px){
    .element-card{
      margin: 5rem;
      width: 37%;
      padding: 2rem 4rem;
    }
  }
  @media screen and (max-width:768px){
    .element-card{
      margin: 2rem;
      width: 60%;
      padding: 2rem 3rem 2rem 3rem ;
    }
    .card-img{
      width: 45%;
    }
  }
  @media screen and (max-width: 480px){
    .title{
      font-size: var(--h2);
    }
    #header{
      font-size: var(--h3);
    }
    .main-form{
      margin: 3rem 8rem 3rem 8rem;
    }
    .other{
      text-align: center;
    }
    #themeBtn{
      margin-left: 0;
    }
    .element-card{
      width: 74%;
    }
    .card-img{
      max-width: 20rem;
    }
  }