:root{
    /*Typography*/
    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.8rem;
    --p: 3.375rem;
    --search: 1.5rem;
    /* Intentions */


}

/* Theme */
.dark-theme{
    --primary:rgb(51, 69, 94);
    --pr-reduc-opac: rgb(51, 69, 94, 0.6); /*reduced opacity for primary color*/
    --secondary: #1d78fd;
    --font-color:#f2f3f7;
    --accent1:#f03a52;
    --accent2:#b13fd2;
    --accent3:#7bcded;

}
.light-theme{
    --primary: rgb(252, 250, 238);
    --pr-reduc-opac: rgb(252, 250, 238, 0.6);
    --secondary: #e773aa;
    --font-color: #1a2345;
    --accent1: #e7356a;
    --accent2:#f4ae2c;
    --accent3: #fcd7df;   
}